.eytg_main_container {
	/* Embedded YouTube video will always be 16:9 */
	.eytg-wall {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		overflow: hidden;
		background: #000;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&:after,
	.eytg-wall:after,
	.easy_youtube_gallery:after {
		content: " ";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}

.easy_youtube_gallery {
	display: block;
	position: relative;

	.eytg-item {
		box-sizing: border-box;
		display: block;
		position: relative;
		float: left;
		border: 0;
		height: auto;
		width: 100%;
		box-shadow: none; // TwentySixteen anchor fix

		&:focus {
			outline: none; // prevent visible selection
		}

		&.active,
		&:hover {
			.eytg-thumbnail:before {
				background-position: bottom center;
			}
		}
		.eytg-title {
			position: absolute;
			z-index: 5;
			width: 100%;
			text-align: center;
			background: rgba(0,0,0,0.2);
			color: #fff;
			font-size: 0.8rem;
			text-shadow: 1px 1px 1px #000;

			&.top {
				top: 0
			}
			&.bottom {
				bottom: 0
			}
		}
		.eytg-thumbnail {
			position: relative;
			display: block;
			width: 100%;
			height: 0;
			padding-bottom: 56.25%;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #1f1f1f;

			&:before {
				content: " ";
				display: block;
				width: 84px;
				height: 59px;
				background-image: url(../img/play.png);
				background-position: top center;
				background-repeat: no-repeat;
				background-color: transparent;
				opacity: 0.9;

				position: absolute;
				top: 50%;
				left: 50%;

				margin-left: -42px;
				margin-top: -30px;
				cursor: pointer;
				outline: 0;

				transform:scale(0.75);
			}
		}

	}
	&.col-2 .eytg-item {
		width: 50%;
	}
	&.col-3 .eytg-item {
		width: 33.3333%;
	}
	&.col-4 .eytg-item {
		width: 25%;
	}
	&.col-5 .eytg-item {
		width: 20%;
	}
	&.col-6 .eytg-item {
		width: 16.6666%;
	}
	&.col-7 .eytg-item {
		width: 14.2857%;
	}
	&.col-8 .eytg-item {
		width: 12.5%;
	}
}

.easy_youtube_gallery.ar-4_3 .eytg-item .eytg-thumbnail {
	padding-bottom: 75%;
}
.easy_youtube_gallery.ar-square .eytg-item .eytg-thumbnail {
	padding-bottom: 100%;
}

@media only screen and (max-width:768px) {
	.easy_youtube_gallery:not(.col-1) .eytg-item {
		width: 50%!important;
	}
}
@media only screen and (max-width:480px) {
	.easy_youtube_gallery[class*='col-'] .eytg-item {
		width: 100%!important;
	}
}